.header{
    height: 10%;
    background-color: rgba(41, 144, 172, 0.85);
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: medium !important;
    font-size: 20px !important;
    width: 1768px;
}
.header p{   
    margin: 0 0 0 15px;
}
.ant-space-item button{
    position: relative;
    background-color: rgba(41, 144, 172, 0.85) !important;
    color: black !important;
    border: 1-x solid rgb(44, 169, 98) !important;
    height:50px; 
    width:150px;
    overflow: hidden; 
    top: 2px;   
    left: 100px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: medium !important;
    font-size: 20px !important;
    /* visibility: hidden; */
}

.content{
    height: 650px;
    margin: 5px;
    /* border: 1px solid gray; */
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(128, 128, 128, 0.486);
    padding: 10px;
}

.ant-input{
    width:300px;
}
.row1 {
    display: grid;
    grid-template-columns: repeat(5, auto); /* Define 5 equal-width columns */
    grid-gap: 10px; /* Define the gap between grid items */
    padding: 5px;
  }
  
  .row2 {
    display: grid;
    grid-template-columns: repeat(3, 360px); /* Define 3 equal-width columns */
    grid-gap: 10px; /* Define the gap between grid items */
    padding: 5px;
  }
  .row3 {
    display: grid;
    grid-template-columns: repeat(4, 365px); /* Define 3 equal-width columns */
    grid-gap: 10px; /* Define the gap between grid items */
    padding: 5px;
  }
  .row5 {
    display: grid;
    grid-template-columns: repeat(3, auto); /* Define 5 equal-width columns */
    grid-gap: 10px; /* Define the gap between grid items */
    padding: 5px;
  }
  
  .btn_edu,
  .btn_skills,.btn_exp, .btn_project {
     /* Add margin-top to create space between button and elements */
    margin: 0px 0px 70px -160px;
  }
  
.update{
    position: relative;
    /* top: -100px; */
    left: 40px;
}
.row{
    display: grid;
    grid-template-columns: repeat(9, auto); /* Define 5 equal-width columns */
    grid-gap: 5px; /* Define the gap between grid items */
    padding: 5px;
}
.col-md-4{
    margin: 10px;    
}
.dropdown{    
    right: 800px !important;
    margin: 10px 190px;
    top: 10px;
}
/* .ant-btn{ 
    top:6px;
    left: -30px;
} */


@media (max-width: 800px){
    .content{
        /* height: 650px; */
        margin: 5px;
        /* border: 1px solid gray; */
        border-radius: 5px;
        box-shadow: 0 0 3px rgba(128, 128, 128, 0.486);
        padding: 10px;
    }
    
    .row5 {
        display: grid;
        grid-template-columns: repeat(1, auto); /* Define 5 equal-width columns */
        grid-gap: 10px; /* Define the gap between grid items */
        padding: 5px;
      }
}